body {
  font-family: Times New Roman;
  background: #80ced6;
  color: white;
  text-align: center;
}
#title, {
  color: solid light blue;
}

#div1, #div3, #div5{
  font-size: 18px;
  border: 5px solid white;
  background: #FF6347;

}

#div2, #div4 {
  font-size: 18px;
  border: 5px solid white;
}
