<!DOCTYPE html>
<html>
<head>
    <title>OpenAI Assistant</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="password-overlay">
        <div id="password-container">
            <h2>Please enter the password</h2>
            <input type="password" id="password-input" placeholder="Password">
            <button id="password-submit" type="button" class="btn btn-success">Submit</button>

            <p id="password-error" style="display:none;">Incorrect password. Please try again.</p>
        </div>
    </div>
    <div id="main-container">
        <div id="sidebar">
            <h3>Chat History</h3>
            <div id="chat-history-log"></div>
            <button id="new-chat-btn" type="button" class="btn btn-success">New Chat</button>
        </div>
        <div id="chat-container">        
            <div id="thread-history">
                <h3>Chat History</h3>
                <div id="messages-container"></div>
            </div>
            <textarea id="user-input" placeholder="Type your question here..."></textarea>
            <div id="button-container">
                <button id="send-btn" type="button" class="btn btn-outline-success">Send</button>
                <button id="voice-input-btn" type="button" class="btn btn-outline-success">🎤</button>
            </div>        
            <div id="logs"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>
