body {
  font-family: Times New Roman;
  background: #80ced6;
  color: white;
  text-align: center;
  font-size: 25px;
}

#link1 {
  width: 50%;
  background-color: #FFFFFF;
  padding: 14px 28px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  color: coral;
}

#div1 {
  background: #FFFFFF;
}
