body {
  font-family: Arial;
  /* background: #FF6347; */
  /* font-size: 18px;
  text-align: center; */
}

.container-strategy-bg{
  background: #FF6347;
}

.strategy h2 {
  font-weight: bold;
  font-size: 32px;
  color: #ffffff;
}

.slow-speech h3 {
  font-weight: bold;
}

.slow-speech p {
  font-size: 18px;
  color: #425466;
}


/* #div1 {
  background: #FFFFFF;
  text-align: left;
  padding-left: 250px;
  padding-right: 250px;
} */
