body {
  font-family: Arial;
  text-align: center;
  font-size: 18px;
  background: #425466;
}

#card1, #card2 {
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 25px;
  box-shadow: 2px 2px 4px #000000;
}
