body {
  font-family: Arial;
}

.who-is h2 {
  font-size: 32px;
  font-weight: bold;
}

.who-is p {
  color: #425466;
  font-size: 18px;
}

/* #card1, #card2 {
background: #FFFFFF;
}

#card1 {
  padding-left: 250px;
  padding-right: 250px;
}

#card2 {
  padding-left: 250px;
  padding-right: 250px;
} */
