body {
  font-family: Arial;
  text-align: left;
  font-size: 18px;
  background: #FF6347;
}

#card1, #card2 {
background: #FFFFFF;
}

#card1 {
  padding-left: 250px;
  padding-right: 250px;
}

#card2 {
  padding-left: 250px;
  padding-right: 250px;
}
