body {
  font-family: Merryweather;
  background: #FF6347;
  text-align: center; Tahoma;
  font-size: 30px;
}

#h11 {
  font-size: 100px;
  font-weight: 700;
}

#div1 {
  text-align: center;
}


#div2 {
  background: #FFFFFF;
}

#card1 {
  margin-left: 300px;
}
