body {
  font-family: Arial;
  background: #FF6347;
  text-align: center; Tahoma;
  font-size: 18px;
}

#h11 {
  font-size: 100px;
}

#div1 {
  text-align: center;
  background-image: url("/images/index-background.jpeg");
  background-position: center;
  background-size: cover;
}


#div2 {
  background: #FFFFFF;
  color: #425466;
  background-image: url("/images/index-div2.jpg");
  background-position: right;
  background-size: auto;
  background-repeat: no-repeat;

}

#card1 {
  margin-left: 300px;
}

#card2 {
  text-align: center;
}

#span1 {
  color: yellow;
}
