body {
  font-family: Arial;
  font-size: 18px;
  text-align: center;
  Background: #FF6347;
  font-size: 36px;
}

#div1 {
  background: #FFFFFF;
}

#action {
  border-radius: 5px;
  padding: 7px 5px 7px 5px;
  background: #0388fc;
  color: white;
  height: 50px;
  width: 100px;
}
