body {
  font-family: system-ui;
  background: #80ced6;
  color: white;
  text-align: center;
  font-size: 18px;
}

#div2 {
  font-size: 18px;
  border: 5px solid white;
}

#div1 {
    font-size: 18px;
  border: 5px solid white;
  background: #FF6347;
}

#speed, #go, #stop, #next {
  font-size: 18px;
}

#div3 {
  background: #FFFFFF;
  color: black;
  font-size: 25px;
}
