body {
  font-family: Arial;
  background: #FF6347;
  color: black;
  text-align: center;
}

#card1, #card2, #card3, #card4 {
background: #FFFFFF;
  }

#span1, #span2, #span3, #span4 {
  color: #f8c133;
}
