body {
  font-family: Arial;
  background: #FF6347;
  text-align: center; Tahoma;
  font-size: 30px;
}

#text {
  font-weight: bold;
}

mark {
  border-radius: 5px;
  padding: 7px 5px 7px 5px;
  background: #0388fc;
  color: white;
}
