body {
  font-family: Arial;
  background: #FF6347;
  color: black;
  text-align: center;
}

#card1, #card2 {
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 25px;
    box-shadow: 2px 2px 4px #000000;
  }

#span1, #span2, #span3 {
  color: orange;
}
